DATABASE_URL="postgresql://usuario:password@host:5432/finanzas_db"
JWT_SECRET="cambia-esto-por-minimo-32-caracteres-aleatorios"
PORT=3000
FRONTEND_URL="https://tu-dominio.com"
GROQ_API_KEY="gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
